<article id="articleContainer">
  <section class="articleTagline">
    Join us for an evening with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleMasthead">
    <div class="articleMastheadContent">
      <div class="mastheadRow top">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopLeft" %>
        <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers", :class => "imgPwlLogo" %>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerTopRight" %>
      </div>

      <div class="mastheadRow">
        <span class="mastheadCity">St. Louis</span>
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfLogo" %>
        <span class="mastheadState">Missouri</span>
      </div>

      <div class="mastheadRow bottom">
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomLeft" %>
        <span class="mastheadDates">September 14, 2016</span>
        <%= image_tag 'corner.svg', :alt => "corner", :class => "cornerBottomRight" %>
      </div>
    </div>
  </section>

  <section class="articleTextContent">
    <h2>About PWLConf</h2>
    <h1>Our First Three Years of Loving, Liking, and Spending Lots of Time with Papers</h1>
    <p>In February our organization, <a href="http://paperswelove.org/">Papers We Love</a>, turned 3 years old, going all the way back to the first commit in our <a href="https://github.com/papers-we-love">Papers We Love repository</a>. We have learned a lot during this time, made many new friendships, and, together, we’ve brought academia a little closer to practitioners and vice-versa. We want to reflect on what the last few years have meant for us as core organizers.</p>
  </section>

  <section class="articlePhotoContent">
    <%= image_tag 'bernstein.jpeg', :alt => "Michael Bernstein", :title => "Papers We Love #1 with Michael Bernstein in NYC", :class => "photoBernstein" %>
    <div class="photoCaption">
      <h3>Papers We Love #1</h3>
      <a href="https://www.youtube.com/watch?v=XtUtfARSIv8">Michael Bernstein on A Uniﬁed Theory of Garbage Collection</a>
    </div>
  </section>

  <section class="articleTextContent">
    <p>We started the official <a href="http://paperswelove.org/chapter/newyork/">NYC chapter</a> in February of 2014 in the offices of Viggle. Our first meetup had over 30 attendees. Then, the <a href="http://paperswelove.org/chapter/sanfrancisco/">San Francisco chapter</a> started up a month later and since then we’ve grown to over 33 cities worldwide. Our largest chapter has 1,483 members and our most remote chapter is in Seoul. <a href="http://paperswelove.org/categories/video/">PWL videos</a> have garnered over 41,906 views. And, our goal has always remained the same: to expose our community to diverse ideas, both historical and current, and different points of view.</p>
  </section>

  <section class="articlePhotoContent">
    <%= image_tag 'chapters_map.jpg', :alt => "PWL Chapters", :title => "Papers We Love Chapters Worldwide" %>
    <div class="photoCaption map">
      <h3>Papers We Love Chapters</h3>
    </div>
  </section>

  <section class="articleTextContent">
    <p>We have observed the growth of our community with a mixture of excitement and wonder. We have transcended from the initial will anyone come? apprehension to start thinking about ways to make our organization better. Our biggest lessons/insights thus far have been:</p>
    <ul>
	    <li>
        There’s a desire for understanding and relating to academic and industry research. We aim to build a body of resources to help practitioners refine and explore ideas/topics and their connections.
      </li>
	    <li>
        We’d like to give those in academia and in research institutions a more open platform to discuss concepts, even those that may not be thoroughly formed.
      </li>
      <li>
	      We want to continue building an inclusive community where individual viewpoints are respected and welcome. All of our chapters conform to our <a href="">Code of Conduct</a> and we actively seek out diversity of speakers and ideas.
      </li>
    </ul>

    <p>So, as a natural progression, we have decided to collect everything we’ve learned thus far in order to attempt something a bit grander...</p>

    <h3>Announcing PWLConf 2016</h3>

    <p>We’d like to announce that this year we’ll be throwing our first conference! We will join the pre-conference events at <a href="">Strange Loop 2016</a> in Saint Louis, MO on Wednesday, September 15th.</p>

    <p>We are thrilled to be a part of an event that continuously brings us together every year. Strange Loop 2015 is where the PWL conference idea first came about. We’re extremely thankful to Alex Miller for letting us tag along. More info in regards to speakers will be coming soon. We do know that tickets will be $40, and free if you’re a student or a recipient of a <a href="">Strange Loop Opportunity Grant</a>.</p>

    <h3>Join our community!</h3>

    <p>Finally, and most importantly, we’d like to thank those who’ve helped Papers We Love grow over the years, specifically:</p>

    <ul>
	    <li>
        The organizers of all the chapters—who put in tons of effort, free time, and charge nothing. Without them, we wouldn’t exist.
      </li>
      <li>
	      The people who attend and assist running our events. And those of you who are regulars at your local PWL meetup!
      </li>
      <li>
	      <a href="">Those who contribute papers</a> and help organize the repository.
      </li>
      <li>
	      The venues who’ve hosted PWL events and the sponsors who support us.
      </li>
      <li>
	      Anyone who finds our work helpful and/or meaningful in some way.
      </li>
    </ul>

    <p>If you want to be involved with a specific Papers We Love chapter or help within the larger community as a whole, please reach out to us at <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>. And, don’t forget, we aggregate chapters’ events and spotlight videos at our website, <a href="http://paperswelove.org/">http://paperswelove.org/</a>, and you can always join us on <a href="http://papersweloveslack.herokuapp.com/">Slack</a>.</p>

    <p>Finally, we’d love to see you at one of our meetups. Say hello and let us know how PWL can improve. Thank you for being a part of our community.</p>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="http://paperswelove.org">@paperswelove_conf</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
