<% wrap_layout :layout do %>
    <% @art = current_page %>
    <article class="hentry article" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="headline"><%= current_page.title %></h1>
        <%=
          case current_page.data.category
          when "meetup" then partial 'partials/_presenter'
          when "news" then partial 'partials/_news'
          end
        %>
        <section itemprop="articleBody">
        <%= yield %>
        </section>
        <footer class="article-metadata">
            <em>Tags:</em>
            <% current_page.tags.each do |tag| %>
                <%= link_to tag, "/tags/#{tag}" %>
            <% end %>
            <em>Category:</em>
            <%= link_to current_page.data.category, "/categories/#{current_page.data.category}"%>
            <em>Posted by:</em>
            <%= current_page.data.author %>
        </footer>
    </article>
<% end %>
