<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <% if current_page.data.description.nil? %>
    <meta name="description" content="A repository of computer science papers and a community of people who love reading them" />
    <% else %>
    <meta name="description" content="<%= current_page.data.description %>" />
    <% end %>
    <title><%= "#{current_article.title} |" unless current_article.nil? %> Papers We Love</title>
    <%= stylesheet_link_tag "font-awesome.min","screen" %>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= favicon_tag 'favicon.ico' %>
  </head>
  <body id="generic" itemscope itemtype="http://schema.org/WebPage">
    <%= partial 'partials/header' %>

    <div id="main" role="main" itemprop="mainContentOfPage">
      <%= yield %>
    </div>

    <%= partial 'partials/footer' %>
  </body>
</html>
<!--
  All content and design is Copyright (c) <%= Date.today.year %>
  Papers We Love, all rights reserved
-->
