<%
title = ""
description = "A repository of computer science papers and a community of people who love reading them"
chapter ||= nil
unless current_page.data.title.nil?
  title = current_page.data.title
end
unless chapter.nil?
    title = "#{chapter['title']} Chapter"
    description = chapter['description']
end
unless current_article.nil?
    title = current_article.title
end
unless current_page.data.description.nil?
    description = current_page.data.description
end
unless title.empty?
  title = title + ' |'
end
%>
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
        <meta content="width=device-width" name="viewport">
        <title><%= title %> Papers We Love</title>
        <meta name="description" content="<%= description %>" />
        <% ogp_tags do |name, value| %>
        <meta name="<%= name %>" content="<%= value %>">
        <% end %>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@papers_we_love" />
        <meta name="twitter:title" content="<%= title %> Papers We Love" />
        <meta name="twitter:description" content="<%= description %>" />
        <meta name="google-site-verification" content="aMC4-woz3t3pTn9EbEL4wIUkYtnYddGFNGee-sqQNb0" />
        <%= stylesheet_link_tag "font-awesome.min","screen" %>
        <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
        <%= favicon_tag 'favicon.ico' %>
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-53240153-1', 'auto');
         ga('send', 'pageview');
        </script>
    </head>
    <body id="generic" itemscope itemtype="http://schema.org/WebPage">
        <%= partial 'partials/header' %>

        <div id="main" role="main" itemprop="mainContentOfPage">
            <%= yield %>
        </div>

        <%= partial 'partials/footer' %>
    </body>
</html>
<!--
All content and design is Copyright (c) <%= Date.today.year %>
Papers We Love, all rights reserved
-->
