<%
title = 'PWLConf 2016'
og_title = 'Papers We Love Conference 2016'
description = 'September 15, 2016 in St. Louis, Missouri'

unless current_page.data.title.nil?
  title = "#{title} | #{current_page.data.title}"
end

unless current_page.data.og_title.nil?
  og_title = current_page.data.og_title
end

unless current_page.data.description.nil?
  description = current_page.data.description
end
%>
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta content="width=device-width" name="viewport">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />

    <meta name="fb:description" content="<%= description %>" />
    <meta name="fb:image" content="http://paperswelove.org/images/PWLCONF-logo@2x.png">
    <meta name="fb:image:type" content="image/png">
    <meta name="fb:image:width" content="770">
    <meta name="fb:image:height" content="830">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@papers_we_love" />
    <meta name="twitter:title" content="<%= og_title %>" />
    <meta name="twitter:description" content="<%= description %>" />

    <meta name="og:site_name" content="<%= og_title %>" />
    <meta name="og:description" content="<%= description %>" />
    <meta name="og:image" content="http://paperswelove.org/images/PWLCONF-logo@2x.png">
    <meta name="og:image:type" content="image/png">
    <meta name="og:image:width" content="770">
    <meta name="og:image:height" content="830">
    <meta name="og:locale" content="en_us">
    <meta name="og:url" content="http://paperswelove.org/pwlconf2016/">

    <meta name="google-site-verification" content="aMC4-woz3t3pTn9EbEL4wIUkYtnYddGFNGee-sqQNb0" />
    <%= stylesheet_link_tag "font-awesome.min","pwlconf" %>
    <%= favicon_tag 'favicon.ico' %>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-53240153-1', 'auto');
     ga('send', 'pageview');
    </script>
  </head>
  <body id="generic" itemscope itemtype="http://schema.org/WebPage">
    <div id="main" role="main" itemprop="mainContentOfPage">
      <%= yield %>
    </div>
    <script>
     var a = [
      "   ___  __    __  __    ___             __   ____   ___  _  __   ",
      "  / _ \\/ / /\\ \\ \\/ /   / __\\___  _ __  / _| |___ \\ / _ \\/ |/ /_  ",
      " / /_)/\\ \\/  \\/ / /   / /  / _ \\| '_ \\| |_    __) | | | | | '_ \\ ",
      "/ ___/  \\  /\\  / /___/ /__| (_) | | | |  _|  / __/| |_| | | (_) |",
      "\\/       \\/  \\/\\____/\\____/\\___/|_| |_|_|   |_____|\\___/|_|\\___/ ",
      " ",
      "Brought to you by Papers We Love - http://paperswelove.org/",
      " ",
       "Site design courtesy of https://twitter.com/jessicaspacekat",
       "HTML and all that jazz banged out by https://twitter.com/d_run",
       " ",
       "The Papers We Love logo, site content and design is",
       "Copyright (c) 2016 Papers We Love LLC, all rights reserved"
     ];
     console.log(a.join("\n"));
    </script>
  </body>
</html>
<!--
       _____     ___          ___
     _/ ____\   /  / ___  ___ \  \      ______  ___  ___
     \   __\   /  /  \  \/  /  \  \    /_____/  \  \/  /
      |  |    (  (    >    <    )  )   /_____/   >    <
      |__|     \  \  /__/\_ \  /  /             /__/\_ \
                \__\       \/ /__/                    \/


     Papers We Love Conference 2016

     Brought to you by the fine folks at http://paperswelove.org

     Logo and site design courtesy of https://twitter.com/jessicaspacekat
     HTML and all that jazz banged out by https://twitter.com/d_run

     The Papers We Love logo, site content and design is
     Copyright (c) <%= Date.today.year %> Papers We Love LLC, all rights reserved

 -->
