<footer class="nav-footer" itemscope itemtype="http://schema.org/Organization">
    <nav>
        <ul class="nav-top-list nav-footer-list">
            <li><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'Papers', 'https://github.com/papers-we-love/papers-we-love' %></li>
            <li><%= link_to 'Chapters', '/chapter' %></li>
            <li><%= link_to 'Submission Guidelines', 'https://github.com/papers-we-love/papers-we-love#contributing-guidelines' %></li>
        </ul>
    </nav>
    <h3>&copy; <%= Date.today.year %> <span itemprop="name">Papers We Love<sup>SM</sup></span>, all rights reserved | Watch the videos from <a href="http://pwlconf.org">PWLConf 2017</a>
</footer>
