<footer class="nav-footer">
    <nav>
        <ul class="nav-top-list nav-footer-list">
            <li><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'Papers', '/papers' %></li>
            <li><%= link_to 'Chapters', '/chapters' %></li>
            <li><%= link_to 'Submission Guidelines', '/guidelines' %></li>
        </ul>
    </nav>
    <h3>&copy; <%= Date.today.year %> Papers We Love, all rights reserved</h3>
</footer>
