<section class="nav-top">
    <div class="nav-top-img">
        <% link_to "/" do %>
            <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers" %>
        <% end %>
    </div>
    <nav>
        <ul class="nav-top-list">
            <li><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'Papers', 'https://github.com/papers-we-love/papers-we-love' %></li>
            <li><%= link_to 'Chapters', '/chapter' %></li>
            <li><%= link_to 'Submission Guidelines', 'https://github.com/papers-we-love/papers-we-love#contributing-guidelines' %></li>
            <li><%= link_to 'Love a Paper', 'https://twitter.com/loveapaper' %></li>	
        </ul>
    </nav>
</section>
