<section class="nav-top">
  <div class="nav-top-img">
    <% link_to "/" do %>
      <%= image_tag 'logo-top.svg', :alt => "Papers We Love", :title => "Papers We Love | A community for computer science papers" %>
    <% end %>
  </div>
  <nav>
    <ul class="nav-top-list">
      <li><%= link_to 'Papers', 'https://github.com/papers-we-love/papers-we-love' %></li>
      <li><%= link_to 'Videos', '/categories/video' %></li>
      <li><%= link_to 'Chapters', '/chapter' %></li>
      <li><%= link_to 'Submission Guidelines', 'https://github.com/papers-we-love/papers-we-love#contributing-guidelines' %></li>
      <li><%= link_to 'Start A Chapter', 'https://github.com/papers-we-love/organizers' %></li>
      <li><%= link_to 'PWLConf', 'https://pwlconf.org' %></li>
    </ul>
  </nav>
</section>
<section class="pwlconf-banner" role="button" aria-label="Buy tickets for PWLConf 2018" onclick="bannerClick()">
  <%= image_tag 'pwl-type-thick-web.svg', :class => "banner-img", :alt => "Papers We Love Conf", :title => "PWLConf 2018 | St. Louis, MO - September 28th" %>
  <div>
    <h3>Sold out in St. Louis on September 26th, 2018</h3>
    <h4>See the videos and learn more!</h4>
  </div>
</section>
<script>
 function bannerClick(e) {
   window.location.href="https://pwlconf.org";
 }
</script>
