---
pageable: true
---
<article class="tags">
    <h1>Archives for the <em><%= category.capitalize %></em> category</h1>

    <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
    <% end %>

    <ul class="main categories">
        <li><strong>Articles</strong></li>
        <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e, %Y') %></span></li>
        <% end %>
    </ul>

    <ul class="sidebar">
        <li><strong>Categories</strong></li>
        <% category_list.each do |cat| %>
            <% if cat[:category] %>
                <li><%= link_to cat[:category].capitalize, "/categories/#{cat[:category]}" %></li>
            <% end %>
        <% end %>
    </ul>

    <% if paginate %>
        <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
        <% end %>
    <% end %>
</article>
