---
pageable: true
---
<article class="tags">
    <h1>Archives for the <em><%= category.capitalize %></em> category</h1>

    <% if paginate && num_pages > 1 %>
    <nav class="pagination-controls">
      <p class="pagination-count">Page <em><%= page_number %></em> of <%= num_pages %></p>
      <% if prev_page %>
        <p class="pagination-prev"><%= link_to '← Previous page', prev_page %></p>
      <% end %>
    </nav>
    <% end %>

    <ul class="main categories">
        <li><strong>Articles</strong></li>
        <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e, %Y') %></span></li>
        <% end %>
    </ul>

    <ul class="sidebar">
        <li><strong>Categories</strong></li>
        <% category_list.each do |cat| %>
            <% if cat[:category] %>
                <li><%= link_to cat[:category].capitalize, "/categories/#{cat[:category]}" %></li>
            <% end %>
        <% end %>
    </ul>

    <% if paginate && next_page %>
    <nav class="pagination-controls">
      <p class="pagination-next"><%= link_to 'Next page →', next_page %></p>
    </nav>
    <% end %>
</article>
