<% @chapter = chapter %>
<% event_list = process_event_hash(events) %>
<article class="chapter">
  <section class="chapter-description">
    <%= partial "partials/chapters/#{chapter}" %>
  </section>
  <% unless events.nil? || events.empty? %>
    <h2 class="chapter-meetups-header">Chapter Meetups</h2>
    <% event_list.each do |event| %>
      <% e = process_fields(event) %>
      <% unless e.nil? %>
      <section class="chapter-meetup">
        <h1><a href="<%= e[:url] %>"><%= e[:event_title] %></a></h1>
        <div class="event-meta">
          <span class="event-date">
            <%= e[:glink] %>
            <strong>Date/Time:</strong>
            <%= e[:formatted_time] %>
            <strong>Location:</strong>
            <%= e[:address] %>
          </span>
        </div>
        <div class="event-description">
          <%= e[:desc] %>
          <% unless e[:photo].nil? || e[:photo].empty? %>
            <ul class="event-photo-container">
              <% e[:photo].each do |photo| %>
                <li><img src="<%= photo.url %>" class="event-photo" /></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </section>
      <% end %>
    <% end %>
  <% end %>
</article>
