---
pageable: true
per_page: 5
---
<%
chapter_weights = weight_chapters(data)
%>

<section class="pwlConfSponsors">
  <div class="row">
    <h2 class="sponsorsHeader">PWLConf 2018 was sponsored by</h2>
    <a href="https://droit.tech" /">
      <%= image_tag 'droit.png', :alt => "Droit", :title => "Droit - Platinum Sponsor of PWLConf 2018", :class => "imgPwlConfSponsor droit", :width => '70px' %>
    </a>
    <a href="https://www.twosigma.com/">
      <%= image_tag 'TwoSigma_RGB.jpg', :alt => "Two Sigma", :title => "Two Sigma - Gold Sponsor of PWLConf 2018", :class => "imgPwlConfSponsor", :width => '180px' %>
    </a>
  </div>
</section>

<section class="home-abstract">
  <div class="home-abstract-shim">
    <h1>Papers We Love is a <a href="https://github.com/papers-we-love/papers-we-love">repository</a> of academic computer science papers and a <a href="https://github.com/papers-we-love/papers-we-love/wiki/Creating-a-PWL-chapter">community</a> who loves reading them.</h1>
  </div>
</section>

<section class="home-chapters">
  <h1>Chapters:</h1>
  <ul class="home-chapters-list">
    <% chapter_weights.reject {|i| i.nil? }.sort_by! {|i| i[:weight]}.reverse().each do |chapter| %>
      <li><%= link_to chapter[:title], "/chapter/#{chapter[:id]}" %></li>
    <% end %>
  </ul>
</section>

<div class="home-container">
  <% page_articles[0..4].each_with_index do |article, i| %>
    <% @art = article %>
    <section class="home-entry article">
      <h2><%= link_to article.title, article %></h2>
      <%= case article.data.category
      when "meetup" then partial 'partials/_presenter'
      when "news" then partial 'partials/_news'
      end
      %>
      <%= article.summary(500) %>
      <footer>
        <% link_to article do %>
          <i class="fa fa-arrow-right"></i> Read more
        <% end %>
      </footer>
    </section>
  <% end %>

  <% if paginate && num_pages > 1 %>
    <nav class="pagination-controls">
      <p class="pagination-count">Page <em><%= page_number %></em> of <%= num_pages %></p>
      <% if prev_page %>
        <p class="pagination-prev"><%= link_to '← Previous page', prev_page %></p>
      <% end %>
      <% if next_page %>
        <p class="pagination-next"><%= link_to 'Next page →', next_page %></p>
      <% end %>
    </nav>
  <% end %>
</div>
