---
pageable: true
per_page: 10
---

<section class="home-abstract">
    <div class="home-abstract-shim">
        <h1>Papers We Love is a <a href="https://github.com/papers-we-love/papers-we-love">repository</a> of academic computer science papers and a <a href="https://github.com/papers-we-love/papers-we-love/wiki/Creating-a-PWL-chapter">community</a> who loves reading them.</h1>
    </div>
</section>

<section class="home-chapters">
    <h1>Chapters:</h1>
    <ul class="home-chapters-list">
        <li><%= link_to 'New York City', '/chapter/newyork' %></li>
        <li><%= link_to 'San Francisco', '/chapter/sanfrancisco' %></li>
        <li><%= link_to 'Boulder', 'http://www.meetup.com/Papers-We-Love-Boulder/' %></li>
        <li><%= link_to 'London', 'http://www.meetup.com/papers-we-love-london' %></li>
        <li><%= link_to 'St. Louis', 'http://www.meetup.com/Papers-We-Love-in-saint-louis/' %></li>
        <li><%= link_to 'Columbus', 'http://www.meetup.com/Papers-We-Love-Columbus/' %></li>
        <li><%= link_to 'Berlin', 'http://www.meetup.com/Papers-We-Love-Berlin/' %></li>
        <li><%= link_to 'Pune', 'http://www.meetup.com/Doo-Things' %></li>
        <li><%= link_to 'Boston', 'http://www.meetup.com/Papers-We-Love-Boston/' %></li>
    </ul>
</section>

<div class="home-container">
    <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
    <% end %>

    <% page_articles.each_with_index do |article, i| %>
        <% @art = article %>
        <section class="home-entry article">
            <h2><%= link_to article.title, article %></h2>
            <%= case article.data.category
                when "meetup" then partial 'partials/_presenter'
                when "news" then partial 'partials/_news'
                end
            %>
            <%= article.summary(500) %>
            <footer>
                <% link_to article do %>
                    <i class="fa fa-arrow-right"></i> Read more
                <% end %>
            </footer>
        </section>
    <% end %>

    <% if paginate %>
        <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
        <% end %>
    <% end %>
</div>
