---
pageable: true
per_page: 5
---

<section class="pwlConfBanner">
  <div class="bannerRow">
    <div class="bannerCopy">
      <a href="http://pwlconf.org">
        <h2 class="bannerHeader">Papers We Love Conference 2016</h2>
        <p>September 15, 2016 - St. Louis, Missouri &rarr; Learn More</p>
      </a>
    </div>
    <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfLogo" %>
  </div>
</section>

<section class="pwlConfSponsors">
  <div class="row">
    <h2 class="sponsorsHeader">PWLConf 2016 is sponsored by</h2>
    <a href="http://corporate.comcast.com/">
      <%= image_tag 'comcast.png', :alt => "Comcast", :title => "Comcast - Platinum Sponsor of PWLConf 2016", :class => "imgPwlConfSponsor comcast", :width => '100px' %>
    </a>
    <a href="https://www.twosigma.com/">
      <%= image_tag 'TwoSigma_RGB.jpg', :alt => "Two Sigma", :title => "Two Sigma - Platinum Sponsor of PWLConf 2016", :class => "imgPwlConfSponsor", :width => '180px' %>
    </a>
  </div>
</section>

<section class="home-abstract">
  <div class="home-abstract-shim">
    <h1>Papers We Love is a <a href="https://github.com/papers-we-love/papers-we-love">repository</a> of academic computer science papers and a <a href="https://github.com/papers-we-love/papers-we-love/wiki/Creating-a-PWL-chapter">community</a> who loves reading them.</h1>
  </div>
</section>

<section class="home-chapters">
  <h1>Chapters:</h1>
  <ul class="home-chapters-list">
    <% @chapters.sort! { |h1, h2| h1['title'] <=> h2['title'] }.each do |chapter| %>
      <li><%= link_to chapter['title'], chapter['url'] %></li>
    <% end %>
  </ul>
</section>

<div class="home-container">
  <% page_articles[0..4].each_with_index do |article, i| %>
    <% @art = article %>
    <section class="home-entry article">
      <h2><%= link_to article.title, article %></h2>
      <%= case article.data.category
      when "meetup" then partial 'partials/_presenter'
      when "news" then partial 'partials/_news'
      end
      %>
      <%= article.summary(500) %>
      <footer>
        <% link_to article do %>
          <i class="fa fa-arrow-right"></i> Read more
        <% end %>
      </footer>
    </section>
  <% end %>

  <% if paginate && num_pages > 1 %>
    <nav class="pagination-controls">
      <p class="pagination-count">Page <em><%= page_number %></em> of <%= num_pages %></p>
      <% if prev_page %>
        <p class="pagination-prev"><%= link_to '← Previous page', prev_page %></p>
      <% end %>
      <% if next_page %>
        <p class="pagination-next"><%= link_to 'Next page →', next_page %></p>
      <% end %>
    </nav>
  <% end %>
</div>
