---
pageable: true
per_page: 12
---
<article class="tags">
    <h1>Articles tagged <em><%= tagname %></em></h1>

    <% if paginate && num_pages > 1 %>
        <p>Page <%= page_number %> of <%= num_pages %></p>

        <% if prev_page %>
            <p><%= link_to 'Previous page', prev_page %></p>
        <% end %>
    <% end %>

    <ul class="main">
        <% page_articles.each_with_index do |article, i| %>
            <li><%= link_to article.title, article %> <span><%= article.data.category.capitalize %></span> <span><%= article.date.strftime('%b %e, %Y') %></span></li>
        <% end %>
    </ul>

    <% if paginate %>
        <% if next_page %>
            <p><%= link_to 'Next page', next_page %></p>
        <% end %>
    <% end %>
</article>
